.app {
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.pokemon-detail {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.error {
  color: red;
}


.pokemon-detail {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  background-color: rgb(199, 199, 199);
  padding: 1vw;
  border: 5px solid black;
  border-radius: 16px;
}

.details, .stats {
  flex: 1;
  
}

.stats {
  margin-left: 20px; /* Add some space between details and stats */
}

#logo-pokemon{
  width: 450px;
}

#pokeball{
  width: 150px;
  padding-left: 12vw;
}